*{
    background-color:#181616 ;
}
body{
    margin: 50px;
}
img{
   width: 80px;
   height: 80px; 
}
#perfil{
width: 100px;
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  object-fit: cover;
}
#navEstilo{
    font-family: "Inter", bold ;
    font-size: 30px;
    justify-content: left;
    color: #fff;
    display: flex;
    margin-left: 65%;
}
.navest{
    margin: 10px;
}
#navCompleto{
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    background-color: #FF4D6D;
}
#apresentacao{
    color: #FF4D6D;
    font-family: "Inter", bold ;
    font-size: 44px;
    justify-content: left;
    margin-bottom: 0%;
}

#estudo{
    margin-top: 2%;
    font-size: 75px;
    font-family: "Playfair Display", serif;
    justify-content: left;
    color: #fff; 
    font-style: normal;
}
#texto{
    justify-content: left;
    font-family: "Inter";
    color: #CFCFCF;
    font-size: 30px;
    max-width: 40%;

}

#h1{
    font-size: 40px;
    font-family: "Playfair Display", serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; 
    font-style: normal;
}

.tituloProjeto{
    color: #FF4D6D;
     font-family: "Playfair Display", serif;
     font-size: 30px;

}
.dataProjeto{
    font-size: 30px;
    color: #CFCFCF;
    font-family: "Inter";
}

.TextoProjeto{
    font-size: 20px;
    font-family: "Inter";
    color: #fff;
}
.TituloEdata{
    display: flex;
}
.imagemProjeto{
    width: 200px;
    height: 100px;
}
.tituloSkills{
    color: #FF4D6D;
     font-family: "Playfair Display", serif;
     font-size: 30px;
     margin-left: 30px;
}
.headerHab{
    display: flex;
    margin-left:0px;
    margin-top: 100px;
}
.barra-container{
    margin-top: 20px;
      width: 30%;
      background-color: #D9D9D9;
      border-radius: 25px;
      overflow: hidden;
}

.barra {

    height: 25px;
    background-color: #BA1F1F;
    text-align: center;
    color: white;
    line-height: 25px;
}

#barra1 { width: 80%; }
#barra2 { width: 40%; }
#barra3 { width: 70%; }
#barra4 { width: 80%; }

 .digitar h3{
     color: white;
     font-family: "Inter";
     font-size: 20px;
}

.inputEstilo input{
    height: 35px;
    width: 30%;
    color: #CFCFCF;
    background-color: #D9D9D9;
      border-radius: 25px;
      overflow: hidden;
      font-size: 15px;
      font-family: "Inter";
      padding-left: 10px;
}

#caixaTexto input{
     height: 200px;
    width: 30%;
    color: #CFCFCF;
    background-color: #D9D9D9;
      border-radius: 25px;
      overflow: hidden;
      font-size: 15px;
      font-family: "Inter";
      text-align: left;
        padding-left: 10px;
        padding-bottom: 0%;
}


button{
     width: 30%;
     background-color: #BA1F1F;
     font-family: "Inter";
     height: 50px; 
     border-radius: 10px;
     margin-top: 30px;
     color: #CFCFCF;
}